body {
    background-image: url('../images/logo.jpg');
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.drawingCursor {
    cursor: url('../cursors/pencil.png'), auto;
}

.eraserCursor {
    cursor: url('../cursors/eraser.png'), auto;
}




:root {
    --button-color: rgb(25, 25, 25);
    --button-text-color: rgb(211, 116, 255);
}

input[type="range"] {
    width: 50%;
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
    background: #363535;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"]:hover {
    opacity: 50;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    /* appearance: none; */
    width: 10px;
    height: 10px;
    background: #a204aa;
    cursor: pointer;
    border-radius: 50%;
} */

/* input[type="range"]::-moz-range-thumb {
    width: 10px;
    height: 10px;
    background: #04AA6D;
    cursor: pointer;
    border-radius: 50%;
} */


#symmetry.active {
    background-color: rgb(0, 42, 4);
    color: rgb(164, 255, 154)
}

.container {
    width: 100%;
    height: 100%;
    background-color: rgb(47, 0, 45);
    background-size: cover;
    padding: 5px;
    border-radius: 20px;
    text-align: center;
}

canvas {
    /* width: 100%;
    height: 100%; */
    border-radius: 20px;
}

.custom-file-upload {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 10px;
    cursor: pointer;
}

#saveImageButton {
    background-color: var(--button-color);
    color: var(--button-text-color);
    padding: 10px;
    border: none;
    cursor: pointer;
}



.tools {
    /* background-color:var(--button-color); */
    color: var(--button-text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.color-picker {
    display: flex;
    background-color: gold;
    margin-bottom: 10px;
}

.button-row {
    display: flex;
    justify-content: center;
}

.tools input,
.tools button {
    margin: 0 5px;
}

button {
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-style: italic;
    font-size: 18px;
    /* Add this line with your desired font size */
}


button:hover,
.custom-file-upload:hover,
input[type="color"]:hover,
input[type="range"]:hover {
    opacity: 0.8;
    cursor: pointer;
    color: rgb(255, 239, 146);
}

button:hover {
    background-color: rgb(34, 34, 34);
}