body {
    background-image: url('../images/logo.jpg'); 
    background-color: black;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh; 
    display: flex; /* Center content vertically and horizontally */
    align-items: center;
    justify-content: center;
}

.container {
    background-color: rgb(137, 0, 130); /* Add a background to the container */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
}

canvas {
    border: 1px solid black;
    cursor: crosshair;
}

/* .tools {
    margin-top: 20px;
} */

/* .tools label {
    display: block;
    margin-bottom: 5px;
} */

.tools input, .tools button {
    margin-bottom: 10px;
}
